{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'shop/style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <title>E-Shopping</title>
</head>
<style>
  #con{
    width: 95%;
    margin-bottom: 30px;
  }
</style>
<body>


      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><h3 style="color: aqua;"><i  class="fas fa-cart-arrow-down"></i>E-Shop</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li style="margin: 3px 10px 0px 0px;"  class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li style="margin: 3px 10px 0px 0px;" class="nav-item">
              <button data-html="true" type="button" class="btn btn-secondary" ><a style="color: white;" href="/checkout">Checkout</a>
              </button>
            </li>
            <li style="margin: 3px 10px 0px 0px;"  class="nav-item">
              <button id="cart" data-html="true" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
              </button>
            </li>
          </ul>
          <ul class="nav navbar-nav ml-auto">
            
            <li style="margin: 3px 10px 0px 0px;"  class="nav-item">
              {% if request.user.is_authenticated %}
          <button  data-html="true" type="button" class="btn btn-secondary" data-container="body"><i style="color: aqua;" class="fas fa-user" aria-hidden="true"></i>{{request.user}}</button>
          </button>
        

            </li>
            <li style="margin: 3px 10px 0px 0px;"  class="nav-item">
              <button id="logoutbtn" data-html="true" type="button" class="btn btn-secondary" data-container="body"><i style="color: rgb(255, 0, 0);" class="fas fa-sign-out-alt" aria-hidden="true"></i>Logout</button>

              {% else %}
        <a href="{% url 'signup' %}"><button data-html="true" type="button" class="btn btn-secondary" data-container="body">Register</button></a>
        <a href="{% url 'login' %}"><button data-html="true" type="button" class="btn btn-secondary" data-container="body">Login</button></a>
        {% endif %}
            </li>
          </ul>
        </div>
        

      </nav>



  <div id="con" class="container-fluid pt-3">




    <div class="row">
      <div class="col-md-12">
        <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">
            <div class="col"><input type="search" name="item_name" placeholder="Search For Products" class="form-control form-control-borderless" >
            </div>&nbsp;
            <div class="col-auto">
              <button class="btn btn-success" type="submit">Search</button>
            </div>&nbsp;
            <div class="col-auto">
              <button class="btn btn-warning" type="submit"><a  href="/" style="color:rgb(255, 255, 255);">Clear Sort</a></button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      {% for product in product_objects %}
      <div class="col-md-3">
        <div class="card">
          <a  href="/{{ product.id }}" ><img src="{{ product.image }}" class="card-img-top" alt=""></a>
          <div class="card-body">
            <div id="nm{{ product.id }}" class="card-title">{{ product.title }}</div>
            <div class="card-text">$&nbsp;<span id="pr{{ product.id }}" class="card-text">{{ product.price }}</span>
            </div>
            <a href="/{{ product.id }}" class="btn btn-warning">View</a>
            <button id="{{ product.id }}" style="float: right;" href="" class="btn atc btn-warning">Add to cart</button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-md-3 pt-3 offset-md-5">
        <ul  class="pagination">
          {% if product_objects.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ product_objects.previous_page_number }}">previous</a>
            </li>&nbsp;&nbsp;
          {% endif %}
          

          <li class="page-item active">
            <a class="page-link" href="?page={{ product_objects.number }}">{{ product_objects.number }}</a>
          </li>&nbsp;&nbsp;

          {% if product_objects.has_next %}
          <li class="page-item">
            <a class="page-link"  href="?page={{ product_objects.next_page_number }}">Next</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>


  </div>



 
</body>
  <script type="text/javascript">

  if(localStorage.getItem('cart')==null){
    var cart = {};
  }
  else{
    cart= JSON.parse(localStorage.getItem('cart'));
  }
  document.getElementById("cart").innerHTML = "Cart("+ Object.keys(cart).length + ")";

  $(document).on('click','.atc',function(){
    var item_id = this.id.toString();
    
    if(cart[item_id]!=undefined){
      quantity = cart[item_id][0] + 1 ;
      cart[item_id][0] = quantity;
      cart[item_id][2] = cart[item_id][2] + parseFloat(document.getElementById("pr"+item_id).innerHTML);

    }
    else{
      quantity = 1;
      name = document.getElementById("nm"+item_id).innerHTML;
      price = parseFloat(document.getElementById("pr"+item_id).innerHTML);
      perprice = document.getElementById("pr"+item_id).innerHTML;

      cart[item_id]=[quantity,name,price,perprice];
    }
    localStorage.setItem('cart',JSON.stringify(cart));
    document.getElementById("cart").innerHTML = "Cart("+ Object.keys(cart).length + ")";
    location.reload(true);
    
  });
  DisplayCart(cart);
  function DisplayCart(cart){
    var cartString = "";
    var cartIndex=1;
    for(var x in cart){
      cartString += "</br>" + cartIndex+ ")";
      cartString += "&nbsp;" + document.getElementById("nm"+x).innerHTML+ "&nbsp;&nbsp;" + "Qty:&nbsp;" + cart[x][0] +"</br>"
      cartIndex += 1;
    }
    if(cartIndex <= 1){
      cartString += "</br><h4 style='text-align: center;' >Please Add Something</h4>";
    }
    cartString +="</br>" + "<a href='/checkout'><button class='btn btn-warning' id='checkout'>Checkout</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button style='align-items: left;' class='btn btn-danger' id='clear'>Clear Cart</button>";
    document.getElementById("cart").setAttribute('data-content',cartString);
    $('[data-toggle="popover"]').popover();
  }

  $(document).on('click','#clear',function() {
    localStorage.clear();
    location.reload(true);
});
$(document).on('click','#logoutbtn',function() {
  Swal.fire({
    position: 'center',
    icon: 'info',
    title: '<h1 style="color: rgb(255, 0, 43);">Thank you for shopping with Us!!!</h1>',
    html:
    'Click here to Logout' + `<br><br>` + `<a id='btn' href='{% url 'logout' %}'><button id='btn' data-html='true' type='button' class='btn btn-secondary btn-lg' data-container='body'><i style='color: rgb(255, 0, 0);' class='fas fa-sign-out-alt' aria-hidden='true'></i>&nbsp;&nbsp;Logout</button></a>`,
    showCloseButton: true,
    showConfirmButton: false,
    allowOutsideClick: true
  }).then(function() {
    localStorage.clear();
});

});

  </script>
</html>
